unencrypted2.pdf
unencrypted22.pdf
i-9-with-sig.pdf
i-9.pdf.json
i-922.pdf
test/*.jpg

.DS_Store
updaters/
ackpdfbox/target

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea/*
.idea/ack-pdfbox.iml
.idea/workspace.xml
META-INF/
ack-pdfbox.properties
ack-pdfbox.xml
dist/debugger-app-2.0.4.jar
out/
test/i-9-filled.pdf
test/i-9.pdf.json.zip
test/n-400.pdf
test/n-400.pdf.json

ackpdfbox/ackpdfbox.iml
